@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        rgb(28, 32, 36),
        rgb(18, 18, 19)
    );
}

.wrapper {
    width: 420px;
    background: rgba(18, 18, 19, 0.95);
    color: rgba(209, 10, 10, 0.9);
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgb(190, 56, 7);
}

.login-logo {
    display: block;
    margin: 0 auto 6px;
    width: 90px;
}

.welcome-text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 8px;
    color: rgb(231, 41, 41);
    letter-spacing: 0.4px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(122, 6, 6);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: rgb(231, 41, 41);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgba(231, 41, 41, 0.6);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(231, 41, 41);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -10px 0 20px;
}

.remember-forgot label input {
    accent-color: rgb(190, 56, 7);
    margin-right: 5px;
}

.remember-forgot a {
    color: rgb(231, 41, 41);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: rgb(122, 6, 6);
    border: 2px solid rgb(190, 56, 7);
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(231, 41, 41);
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: rgb(190, 56, 7);
    color: #fff;
}

#message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: rgb(231, 41, 41);
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}